:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

img {
  max-width: 100%;
  display: inline-block;
}

.body {
  text-align: center;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  overflow: visible;
}

.body:hover {
  font-weight: 700;
}

.html-embed {
  z-index: 0;
  display: block;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.confirm_ar {
  z-index: 4;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  inset: 0%;
}

.progress_bar {
  color: #273cb6;
  padding-top: 37px;
}

.logo_preloader_2.ipad {
  margin-top: 264px;
}

.page_chargement {
  z-index: 10;
  background-color: #fff;
  display: block;
  position: absolute;
  inset: 0%;
}

.rotation {
  display: none;
}

.qr_code {
  z-index: 6;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  display: none;
  position: relative;
}

.bouton_socles {
  background-color: #fefefe;
  border: 1px solid #6b6b6b;
  border-radius: 20px;
  width: 70%;
  height: 90px;
  display: block;
}

.menu {
  z-index: auto;
  text-align: left;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 800px;
  display: block;
  position: absolute;
}

.menu.nav {
  z-index: 1;
  object-fit: fill;
  background-color: #fff;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.logo {
  text-align: left;
}

.paragraph {
  color: #a8a8a8;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 20px;
}

.para_2 {
  color: #a8a8a8;
}

.bouton_couleurs {
  background-color: #fefefe;
  border: 1px solid #6b6b6b;
  border-radius: 20px;
  width: 70%;
  height: 90px;
  display: block;
}

.retour_config {
  display: none;
}

.boutton_info_mobile {
  width: auto;
  height: 50px;
}

.decouvrir_oui_non {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 49px;
}

.paragraph-4 {
  padding-top: 41px;
  font-size: 25px;
}

.bouton_ar {
  border: 2px #000;
  border-radius: 45px;
  height: 70px;
  display: block;
}

.bouton_ar:hover {
  border: 4px solid #ff0004;
}

.image-45 {
  border-radius: 20px;
  width: auto;
  height: 100%;
}

.config_tailles {
  z-index: 2;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  background-color: #2d2d2d;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 110px;
  margin-bottom: 110px;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
}

.bouton_retour_config {
  z-index: 1;
  background-color: #fefefe;
  border: 1px solid #6b6b6b;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 90px;
  display: flex;
  position: relative;
}

.image_retour_config {
  width: 35%;
}

.image_solce.ipad, .image_couleurs.ipad {
  height: 100%;
}

.choice_bouton_1 {
  z-index: 1;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  background-color: #fefefe;
  border: 1px solid #6b6b6b;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 140%;
  height: 90px;
  display: flex;
  position: relative;
}

.slider-2 {
  background-color: #fefefe;
  height: 30px;
}

.form.slide_1 {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  padding-top: 7px;
  display: flex;
}

.bouton_tailles {
  background-color: #fefefe;
  border: 1px solid #6b6b6b;
  border-radius: 20px;
  width: 70%;
  height: 90px;
}

.config_formes {
  z-index: 2;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  background-color: #2d2d2d;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 110px;
  margin-bottom: 110px;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
}

.columns-25 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.blue_up, .deeply_bb, .blanc_classique {
  height: 87px;
}

.couleurs_classiques, .couleurs_mates, .couleurs_metal, .couleurs_autres {
  z-index: 2;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  background-color: #2d2d2d;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 110px;
  margin-bottom: 110px;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
}

.config_socle {
  z-index: 2;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
  background-color: #2d2d2d;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 110px;
  margin-bottom: 110px;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
}

.sans_socle, .avec_socle {
  height: 87px;
}

.columns-26 {
  width: 85%;
}

.column-16 {
  opacity: .38;
  padding-left: 0;
  padding-right: 0;
}

.column-17 {
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image_tailles.ipad {
  height: 100%;
}

.image-52, .image-53, .image-54, .image-55, .rouge_classique, .jaune_classique, .noir_classique, .rouge_mate, .image-56, .blanc_mate, .black_mate, .rouge_metal, .mauritius_metal, .mick_metal, .pink_metal, .image-64 {
  height: 87px;
}

.hamburger_menu {
  margin-top: 26px;
  margin-left: 30px;
  position: absolute;
  inset: 0% auto auto 0%;
}

.configurateur {
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  background-color: #2d2d2d;
  justify-content: center;
  align-items: center;
  height: 110px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  position: relative;
  left: 0%;
  right: 0%;
}

.visualiser_ra {
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
  height: 110px;
  display: flex;
  position: relative;
}

.config-et-ra {
  z-index: 1;
  background-color: #fff;
  max-width: 100%;
  display: block;
  position: absolute;
  inset: auto 0% 0%;
}

.bouton_info {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 29px;
  display: flex;
  position: absolute;
  inset: auto 0% 0% auto;
}

.mask_body {
  z-index: 5;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.image-69 {
  text-align: center;
  border-top: 1px solid #686363;
  justify-content: center;
  align-items: flex-end;
  padding-top: 85px;
  display: inline-flex;
  position: relative;
  inset: auto 0% 0%;
}

.text-block-31 {
  margin-top: 13px;
  margin-bottom: 13px;
  padding-top: 0;
}

.column-38 {
  padding-left: 0;
  padding-right: 0;
}

.bouton_ar-2 {
  border: 2px solid #000;
  border-radius: 20px;
  height: 90px;
  margin-left: 33px;
}

.image-70 {
  border-radius: 20px;
  height: 100%;
}

.div-block {
  padding-left: 28px;
}

.text-block-29 {
  text-align: left;
  font-weight: 700;
}

.text-block-28 {
  text-align: left;
}

.text-block-28:hover {
  font-weight: 400;
}

@media screen and (min-width: 1280px) {
  .html-embed, .page_chargement {
    display: none;
  }

  .qr_code {
    display: flex;
  }

  .config-et-ra {
    display: none;
  }

  .mask_body {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .body {
    overflow: visible;
  }

  .html-embed {
    z-index: 0;
    display: block;
    position: absolute;
    inset: 0%;
    overflow: hidden;
  }

  .confirm_ar {
    z-index: 4;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #000;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    display: none;
    position: fixed;
    inset: 0%;
  }

  .progress_bar {
    color: #273cb6;
    padding-top: 0;
  }

  .logo_preloader_2.ipad {
    margin-top: 195px;
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .page_chargement {
    z-index: 10;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #fff;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    inset: 0%;
  }

  .rotation, .qr_code {
    display: none;
  }

  .bouton_socles {
    z-index: 1;
    background-color: #fefefe;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    width: 70%;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0%;
  }

  .bouton_socles:hover {
    border-width: 3px;
    border-color: #00c8ff;
  }

  .menu.nav {
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #737373;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    inset: 0% 0% auto;
  }

  .logo {
    opacity: .82;
    line-height: 18px;
  }

  .paragraph {
    color: #a8a8a8;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 21px;
    font-size: 20px;
  }

  .para_2 {
    color: #a8a8a8;
  }

  .bouton_couleurs {
    z-index: 1;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    opacity: 1;
    background-color: #fefefe;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 70%;
    height: 80px;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    position: relative;
    top: auto;
    bottom: 0%;
  }

  .bouton_couleurs:hover {
    border-width: 3px;
    border-color: #00c8ff;
  }

  .retour_config {
    z-index: 1;
    background-color: #fefefe;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    width: 20%;
    height: 70px;
    margin-bottom: 30px;
    padding-bottom: 0;
    padding-right: 0;
    display: none;
    position: absolute;
    inset: auto 3% 0% auto;
  }

  .boutton_retour_ipad {
    margin-top: 3px;
    padding-top: 0;
  }

  .boutton_info_mobile {
    border-left-color: #8f8f8f;
    width: auto;
    height: 50px;
    margin-top: 0;
    padding: 0;
    display: block;
    position: relative;
    inset: 0%;
  }

  .boutton_retour_mobile {
    display: none;
  }

  .decouvrir_oui_non {
    margin-bottom: 80px;
  }

  .bouton_ar {
    background-color: #fefefe;
    border: 2px #5b5555;
    border-radius: 45px;
    height: 65px;
    padding-left: 0;
    position: relative;
    top: auto;
    bottom: 0%;
  }

  .bouton_ar:hover {
    border-color: #ff0004;
  }

  .image-45 {
    border-radius: 20px;
    height: 100%;
    padding-right: 0;
  }

  .config_tailles {
    z-index: 2;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
    display: none;
    position: absolute;
    inset: auto 0% 0%;
  }

  .bouton_retour_config {
    z-index: 1;
    background-color: #fefefe;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80px;
    display: flex;
    position: relative;
    bottom: 0%;
    right: auto;
  }

  .image_retour_config {
    width: 47%;
    height: 63px;
    margin-top: -2px;
  }

  .image_solce.ipad {
    height: 100%;
  }

  .image_couleurs.ipad {
    height: 100%;
    padding-top: 0;
  }

  .choice_bouton_1 {
    z-index: 1;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #fefefe;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 140%;
    height: 80px;
    display: flex;
    position: relative;
    inset: auto 0% 0%;
  }

  .right-arrow {
    display: none;
  }

  .radio-button-label-13 {
    padding-left: 8px;
  }

  .radio-button-field {
    padding-left: 0;
  }

  .slider-2 {
    background-color: #fefefe;
    height: 30px;
    padding: 5px 0 0 30px;
    display: block;
  }

  .form.slide_1 {
    grid-column-gap: 90px;
    grid-row-gap: 90px;
    flex-flow: row;
    margin-left: 0;
    padding-top: 0;
    display: flex;
  }

  .icon-4, .image-25 {
    display: none;
  }

  .slide-nav-2 {
    height: 30px;
    position: relative;
  }

  .radio-button {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-left: 0;
  }

  .radio-button:hover {
    border: 1px solid #00c8ff;
  }

  .radio-button-2 {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }

  .radio-button-3 {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-left: -21px;
  }

  .radio-button-4 {
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-left: -22px;
  }

  .radio-button-5 {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }

  .bouton_tailles {
    z-index: 1;
    background-color: #fefefe;
    border: 1px solid #6b6b6b;
    border-radius: 20px;
    width: 70%;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    bottom: 0%;
  }

  .bouton_tailles:hover {
    border: 3px solid #00c8ff;
  }

  .config_formes {
    z-index: 2;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100px;
    margin-bottom: 100px;
    display: none;
    position: absolute;
    inset: auto 0% 0%;
  }

  .columns-25 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    display: inline-flex;
  }

  .blue_up, .deeply_bb {
    height: 78px;
  }

  .blanc_classique {
    border-radius: 6px;
    height: 78px;
  }

  .couleurs_classiques, .couleurs_mates {
    z-index: 2;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100px;
    margin-bottom: 100px;
    display: none;
    position: absolute;
    inset: auto 0% 0%;
  }

  .couleurs_metal {
    z-index: 2;
    box-sizing: border-box;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    background-color: #d3d3d3;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100px;
    margin-bottom: 100px;
    display: none;
    position: absolute;
    inset: auto 0% 0%;
  }

  .couleurs_autres, .config_socle {
    z-index: 2;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100px;
    margin-bottom: 100px;
    display: none;
    position: absolute;
    inset: auto 0% 0%;
  }

  .sans_socle, .avec_socle {
    max-width: none;
    height: 75px;
  }

  .columns-26 {
    width: 85%;
  }

  .column-16 {
    padding-left: 0;
  }

  .column-17 {
    justify-content: center;
    align-items: center;
    padding-right: 0;
    display: flex;
  }

  .column-27 {
    padding-right: 2px;
  }

  .image_tailles.ipad {
    border-radius: 20px;
    height: 100%;
  }

  .image-52, .image-53, .image-54, .image-55, .rouge_classique, .jaune_classique, .noir_classique, .rouge_mate, .image-56, .blanc_mate, .black_mate, .rouge_metal, .mauritius_metal, .mick_metal, .pink_metal, .image-64 {
    height: 78px;
  }

  .hamburger_menu {
    margin-top: 29px;
    margin-left: 30px;
    display: block;
    position: absolute;
    inset: 0% auto auto 0%;
  }

  .configurateur {
    z-index: 1;
    grid-column-gap: 3%;
    grid-row-gap: 3%;
    background-color: #2d2d2d;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 35px;
    display: flex;
    position: relative;
    inset: auto 0% 0%;
  }

  .visualiser_ra {
    z-index: 1;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    display: flex;
    position: relative;
  }

  .config-et-ra {
    z-index: 1;
    background-color: #fefefe;
    max-width: 100%;
    display: block;
    position: absolute;
    inset: auto 0% 0%;
  }

  .bouton_info {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 100px;
    height: 100px;
    margin-right: 0;
    display: flex;
    position: absolute;
    inset: auto 0% 0% auto;
  }

  .mask_body, .image-69, .text-block-31 {
    display: none;
  }

  .bouton_ar-2 {
    background-color: #fefefe;
    border: 2px solid #5b5555;
    border-radius: 20px;
    height: 80px;
    margin-left: 33px;
    padding-left: 0;
    position: relative;
    top: auto;
    bottom: 0%;
  }

  .bouton_ar-2:hover {
    border-color: #60a6f1;
  }

  .image-70 {
    border-radius: 20px;
    height: 100%;
    padding-right: 0;
  }

  .div-block {
    padding-left: 0;
  }

  .text-block-29 {
    text-align: left;
    margin-left: 25px;
    font-weight: 700;
  }

  .text-block-28 {
    color: #727272;
    text-align: left;
    margin-left: 25px;
    font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .body {
    text-align: center;
    height: 100%;
    overflow: hidden;
  }

  .html-embed {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    inset: 0%;
  }

  .confirm_ar {
    z-index: 10;
    aspect-ratio: auto;
    background-color: #000000ed;
    margin-top: 0;
    padding-top: 351px;
    display: none;
    position: fixed;
    inset: 0%;
  }

  .preload {
    margin-top: 50%;
  }

  .page_chargement {
    z-index: 10;
    background-color: #fff;
    display: none;
    position: absolute;
    inset: 0%;
  }

  .rotation {
    z-index: 6;
    opacity: .78;
    text-align: center;
    background-color: #0000;
    border-radius: 20px;
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
    display: block;
    position: absolute;
    inset: 0% 0% auto;
  }

  .bouton_socles {
    display: none;
  }

  .menu.nav {
    z-index: 5;
    background-color: #fff;
    display: none;
  }

  .logo {
    z-index: 5;
    position: relative;
  }

  .config-et-ra {
    display: none;
  }

  .mask_body {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .body {
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    overflow: hidden;
  }

  .html-embed {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0%;
    overflow: hidden;
  }

  .confirm_ar {
    z-index: 30;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #000;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100vw;
    min-height: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: none;
    position: fixed;
    inset: 0%;
  }

  .preload {
    justify-content: center;
    margin-top: 75%;
    padding-top: 0;
    display: flex;
  }

  .progress_bar {
    color: #273cb6;
    text-align: center;
    background-color: #0000;
    margin-top: 30%;
    font-size: 16px;
    display: block;
    position: absolute;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .logo_preloader_2 {
    text-align: center;
    object-fit: fill;
    display: block;
    position: absolute;
    bottom: auto;
  }

  .logo_preloader_2.ipad {
    margin-top: -31px;
  }

  .page_chargement {
    z-index: 50;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #fff;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    display: block;
    position: absolute;
  }

  .rotation {
    display: none;
  }

  .bouton_socles {
    z-index: 1;
    background-color: #fff;
    border-radius: 15px;
    flex: 0 auto;
    justify-content: flex-start;
    align-self: auto;
    align-items: stretch;
    width: 70%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: relative;
    top: auto;
    bottom: 0%;
  }

  .menu.nav {
    z-index: 1;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #fff;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    display: inline-flex;
    position: absolute;
  }

  .logo {
    opacity: .84;
    width: 40%;
    margin-top: 0;
    padding-left: 0;
    display: block;
  }

  .paragraph {
    margin-bottom: 23px;
  }

  .para_3 {
    color: #5b5b5b;
    -webkit-text-stroke-color: #392a2a;
  }

  .bouton_couleurs {
    border: 1px solid #747474;
    border-radius: 15px;
    width: 70%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: relative;
  }

  .retour_config {
    border: 1px solid #6b6b6b;
    width: 17%;
    height: 60px;
    margin-bottom: 15px;
    display: none;
  }

  .boutton_retour_ipad {
    display: none;
  }

  .boutton_info_mobile {
    justify-content: flex-start;
    align-items: flex-start;
    height: 35px;
    margin-top: 23px;
    margin-right: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: relative;
  }

  .boutton_retour_mobile {
    padding-top: 11px;
    display: inline-block;
  }

  .decouvrir_oui_non {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 191px;
    margin-bottom: 140px;
    padding-bottom: 23px;
    display: block;
  }

  .columns-23 {
    display: flex;
  }

  .bouton_ar {
    background-color: #fff0;
    border: 1px #797979;
    border-radius: 45px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: relative;
    inset: 0% auto auto 0%;
  }

  .bouton_ar:hover {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #fff;
    border-width: 1px;
    border-color: #4da3ff;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .image-45 {
    border-radius: 20px;
    width: auto;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: static;
  }

  .image-45:hover {
    float: none;
    clear: none;
    padding-top: 0;
    padding-left: 0;
    font-weight: 400;
    display: block;
  }

  .config_tailles {
    grid-column-gap: 4%;
    grid-row-gap: 4%;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 70px;
    display: none;
    position: absolute;
    inset: auto 0% 0%;
  }

  .bouton_retour_config {
    z-index: 1;
    background-color: #fefefe;
    border-radius: 15px;
    width: 30%;
    height: 55px;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
    bottom: 0%;
  }

  .image_retour_config {
    width: 35px;
    max-width: none;
    height: 40px;
  }

  .image_solce.ipad, .image_couleurs.ipad {
    border-radius: 20px;
  }

  .choice_bouton_1 {
    border-radius: 15px;
    width: 140%;
    height: 55px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    right: auto;
  }

  .right-arrow {
    height: 40px;
    margin-top: -6px;
    display: block;
    position: absolute;
  }

  .radio-button-label-13 {
    margin-top: -26px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1px;
  }

  .radio-button-field {
    padding-left: 18px;
  }

  .slider-2 {
    background-color: #fff0;
    width: auto;
    height: 30px;
    margin-right: 0;
    padding-left: 0;
    display: block;
    position: relative;
  }

  .form {
    object-fit: fill;
    flex: 0 auto;
    justify-content: flex-start;
    margin-top: 9px;
    margin-left: 56px;
    display: flex;
  }

  .form.slide_1 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-left: -29px;
    padding-left: 0;
  }

  .icon-4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 23px;
    padding-bottom: 0;
    display: none;
    position: static;
    inset: 0%;
  }

  .image-24 {
    opacity: 1;
    height: 20px;
    margin-top: 3px;
    margin-right: -4px;
    padding-bottom: 4px;
    padding-right: 0;
    display: inline-block;
  }

  .image-25 {
    opacity: 1;
    height: 20px;
    margin-top: 7px;
    margin-left: 20px;
    padding-bottom: 0;
  }

  .slide-nav-2 {
    display: none;
  }

  .form_taille {
    flex: 1;
    justify-content: center;
    margin-top: -8px;
    margin-bottom: 11px;
    margin-left: 29px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 25px;
    display: flex;
  }

  .form_taille.slide_small {
    border-radius: 0;
    margin-left: 0;
    padding-left: 14px;
    padding-right: 0;
  }

  .icon-3 {
    color: gray;
    margin-left: 59px;
    display: none;
  }

  .left-arrow {
    width: 50px;
    margin: -3px 0 0;
    padding-right: 0;
    inset: 0%;
  }

  .radio-button {
    width: 13px;
    height: 13px;
    margin-top: 4px;
    margin-left: 0;
    padding-left: 0;
  }

  .radio-button-2 {
    width: 13px;
    height: 13px;
    margin-top: 4px;
    margin-left: -15px;
  }

  .radio-button-3, .radio-button-4 {
    width: 13px;
    height: 13px;
    margin-top: 4px;
    margin-left: -16px;
  }

  .radio-button-5 {
    width: 13px;
    height: 13px;
    margin-top: 4px;
    padding-top: 0;
  }

  .bouton_tailles {
    border: 1px solid #747474;
    border-radius: 15px;
    width: 70%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  .config_formes {
    background-color: #2d2d2d;
    height: 70px;
    margin-bottom: 70px;
    display: none;
  }

  .columns-25 {
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .blue_up {
    border-radius: 20px;
    height: 50px;
  }

  .deeply_bb {
    height: 50px;
  }

  .blanc_classique {
    border-radius: 14px;
    height: 50px;
    margin-top: 0;
  }

  .couleurs_classiques, .couleurs_mates, .couleurs_metal, .couleurs_autres, .config_socle {
    height: 70px;
    margin-bottom: 70px;
    display: none;
  }

  .sans_socle, .avec_socle {
    height: 45px;
  }

  .columns-26 {
    width: 85%;
    padding-left: 0;
    display: flex;
  }

  .column-16 {
    padding-right: 0;
  }

  .column-17 {
    padding-left: 0;
  }

  .column-19, .column-22, .column-23, .column-24, .column-25 {
    padding-left: 0;
    padding-right: 0;
  }

  .column-26 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .column-27 {
    padding-left: 2px;
  }

  .column-28, .column-29, .column-30, .column-31, .column-32, .column-33, .column-34, .column-35, .column-36, .column-37 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .image-52 {
    border-radius: 10px;
    height: 50px;
  }

  .image-53, .image-54 {
    height: 50px;
  }

  .image-55 {
    border-radius: 11px;
    height: 50px;
  }

  .rouge_classique, .jaune_classique, .noir_classique, .rouge_mate, .image-56, .blanc_mate, .black_mate {
    height: 50px;
  }

  .rouge_metal {
    border-radius: 11px;
    height: 50px;
  }

  .mauritius_metal, .mick_metal {
    height: 50px;
  }

  .pink_metal {
    border-radius: 17px;
    height: 50px;
  }

  .image-64 {
    height: 50px;
  }

  .hamburger_menu {
    width: auto;
    height: 25px;
    margin-top: 6%;
    margin-left: 21px;
  }

  .configurateur {
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .visualiser_ra {
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 70px;
    display: flex;
  }

  .config-et-ra {
    display: block;
  }

  .bouton_info {
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 60px;
    height: 55px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 0;
    display: flex;
    position: absolute;
    inset: 0% 0% auto auto;
  }

  .link-block-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    display: block;
  }

  .mask_body {
    display: none;
  }

  .bouton_ar-2 {
    background-color: #fff0;
    border: 1px solid #797979;
    border-radius: 15px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-top: 7px;
    margin-left: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    position: absolute;
    inset: 0% auto auto 0%;
  }

  .bouton_ar-2:hover {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #fff;
    border-width: 1px;
    border-color: #4da3ff;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .image-70 {
    border-radius: 20px;
    width: auto;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    position: static;
  }

  .image-70:hover {
    float: none;
    clear: none;
    padding-top: 0;
    padding-left: 0;
    font-weight: 400;
    display: block;
  }

  .div-block {
    border-right: 1px #000;
    flex-flow: column;
    margin-top: 15px;
    margin-left: 72px;
    padding-left: 0;
    display: block;
    position: absolute;
    inset: 0% auto auto 0%;
  }

  .text-block-29, .text-block-28 {
    margin-left: 5px;
    font-size: 11px;
  }

  .column-39 {
    padding-left: 0;
  }
}


